*.zip
plugin/lib/third_party/gflags-1.0/
plugin/lib/third_party/ply-3.1/
plugin/lib/tools/
plugin/src/win/*.opensdf
plugin/src/win/Debug/
plugin/src/win/glue/
plugin/src/win/ipch/
plugin/src/win/Release/
